<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Mat Whiz | Search Engine Optimization</title>
  <meta name="keywords" content="optimization, search engine, marketing,   etc.">
  <meta name="description" content="Search Engine Optimization">
  <meta name="author" content="Marco Matildo">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Mat Whiz</a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Search Engine Optimization</h1>
        <div id="right">
          <h5 class="header col s12 teal-text text-lighten-0">"The key to getting more traffic lies in integrating content with search engine optimization and social media marketing"</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/bg4.jpg" alt="Search Engine Optimization"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center"><a href="#">Search Engine Optimization</a></h5>

            <p class="light">The main idea of search engine optimization is to make sure that the basic white hat tactics are follow on a regular basis. Hence, it will improve the rankings of your website...<i class="brown-text"><a href="#">[Continue reading...]</a></i></p>
            <br>
            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center"><a href="#">Search Engine Marketing</a></h5>

            <p class="light">It is a form of internet marketing that will help or involves promotion of websites by increasing their visibility in search engine result pages by the help also of paid advertising...<i class="brown-text"><a href="#">[Continue reading...]</a></i></p><br>
            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center"><a href="#">On-Page and Off-Page Strategy</a></h5>

            <p class="light">On-page strategy refers to how well your website's is presented to search engines and off-page strategy refers to all the things you can do directly OFF your website...<i class="brown-text"><a href="#">[Continue reading...]</a></i></p><br>
            
          </div>
        </div>
      </div>

    </div>
  </div>

    
  <nav>
    <div class="nav-wrapper teal">
      <div class="col s12">
        <a href="#" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Search Engine Optimization</a>
      </div>
    </div>
  </nav>
  <br>
  <hr>

  <section id="main">
    <div class="container">
      <article id="main-col">
        <h4 class="article-title brown-text">The use of search engine optimization to your blog</h4><hr>
        <img class="responsive-img" src="img/SEO-Search-Engine-Optimisation.jpg" alt="SEO" height="300px" width="570px"><hr>
        <p class="flow-text">There are many people around the world who are just starting to blog and many more that have run their own blog site for a while, that really don't know the purpose of SEO is and how to implement it!</p>

        <p class="sub-title"><b>Search Engine Optimization</b></p>
        <p>Before we go through all the guidelines on how to read search engine optimization, let's now define first what seo is. SEO is an acronym name that means Search Engine Optimization. What's really the purpose of it in our blog? So.. SEO is a process of maximizing the number of visitors to a particular website by ensuring that the site will appear high in a search engine result page (SERP).</p>

        <p class="sub-title"><b>Guidelines on how to read a search engine result page</b></p>
        <b>1. Understanding an individual search result</b>
        <p>Result block on a search  result page that consist of three major elements</p>
        <img src="img/search-result.png" alt="Search Result Sample" height="300px" width="600px"><hr>
        <p><i>Figure:</i> As we notice that when we use our mouse to point at a particular search result, called result block. A single result block consist primarily of the title, URL, and snippet(some contents of the blog).</p>

        <p><b>Title:</b> The blue text color that has underline gives you the topic of the page.</p>
        <p><b>Web address/URL:</b> The second line or the green text tells you location of the document on the web. This line can help you determine the source of information.</p>
        <p><b>Snippet:</b>The last two lines, the black text, show you some content of the places where your search terms appear on the page. Some of the snippets contains ellipses that means that the text is taken out and replaced by the ellipses(...).</p>

        <b>2. Using an entire results page</b>
        <p>Is is not only helpful to know how to understand a single result page, but you can learn a lot from taking a moment to look over an entire page full of results.</p>
        <img class="responsive-img" src="img/whole-search.png" alt="Whole Search Result Page" height="350px" width="600px"> 
        <p><i>Figure:</i>As you look at the results, you may notice many different blogs containing similar result to the phrase being searched. Some results talks about the types of dogs, List of Dogs from A-Z, List of all dog breeds by type, traits, etc..</p>
        <p>As you see, the first result mentions "List of Dog Profiles". First of all we need to understand how a breed of dog is defined ... or whom.</p>
        <p>I hope that this lesson demonstrated that the search results page is an interesting information set and of itself. By looking through the different results, you can now extract a sense for where your question can be most possibly be answered.</p>

        <p class="sub-title"><b>How SEO affects business?</b></p>
        <p>Lots of people who are new to blogging are really asking how SEO affects business.</p>
        <p>Then let's start:</p>
        <ol>
          <li>It affects business by making the content found in your website more relevant to what potential customers want.</li><br>
          <li>By putting your business in the various search engines, SEO makes it easier for people to found your site regarding your business. It is also a good way of making your website more attractive, thus increasing readability and the amount of people spend on the page, which is also valuable.</li><br>
          <li>Last but not the least, we don't actually know the exact formula and there's an entire industry of people trying their very best to figure it out and then remarket the specific tactics and layout suggested by their experimental data/gueses. These people are called Search Engine Optimizer specialist and while some of them are marketing profesisonals.</li><br>
        </ol>

        <p class="sub-title"><b>Important SEO expectations</b></p>
        <p>In this content, I will be explaining some of the most important SEO expectations</p>
        <b>1. Speed of Ranking Increases</b>
        <p>When SEO is done right, ranking will increase. Sounds confusing?.. The speed of the increase is something that the SEO specialist only has so much control over. There are many factors that it is difficult to make good judgements on how long it will take for a keyword to a hit a certain page or position.</p><br>
        <b>2. Number of keywords targeted</b>
        <p>Clients want to rank for everything, but most client aren't willing to pay to rank for everything at once even when they recognize that their SEO budget leaves them shy of being able to tackle some highly competetive terms, they'll inevitably try to get them onto the keyword reasearch list.</p> 
        <b>3. Number of Leads</b>
        <p>From and SEO's <strong>point of view,</strong>the basis objective of a campaign is to increase relevant keyword rankings, which should result in site traffic, which should in enough profit to justify the campaign expense.</p>

        <p class="sub-title"><b>SEO in Marketing</b></p>
        <p>Web <i>optimization</i> is an advertising discipline concentrated on developing perceivability in natural (non-paid) web search tool comes about. Web optimization envelops both the specialized and inventive components required to enhance rankings, drive movement, and increment mindfulness in web indexes.</p>
      </article>
    </div>
  </section>

  


   <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="/search-engine-marketing">2</a></li>
    <li class="waves-effect"><a href="/on-page-and-off-page-techniques">3</a></li>
    <li class="waves-effect"><a href="/mobile-responsive-tools">4</a></li>
    <li class="waves-effect"><a href="/hyperlinking-backlinking">5</a></li>
    <li class="btn btn-floating pulse"><a href="/search-engine-marketing"><i class="material-icons">chevron_right</i></a></li>
  </ul>

    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Course Bio</h5>
          <p class="grey-text text-lighten-4">I am currently studying Information Technology and learning the use of Search Engine Optimization by creating a blog website.</p>
        </div>

       
        <div class="col l3 s12" id="connect">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://facebook.com/OcreMat">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/hyperac1d">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hyperac1d">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with love by <a class="brown-text text-lighten-3" href="#">Marco Matildo</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
